
/* ///////////////<Cupcake-divens CSS>//////////////////// */


	/* Boxen som cupcaken designas i */
	#cupcake{
		width: 19.7vw;
		height:25vw;
		position: relative;
	}

	/* Boxen som muffinformen placeras i */
	.wrapper  img{
		position: absolute;
		z-index: 4;
		bottom: -1.4vw;
		left: 0.5vw;
		width: 17.5vw;
	}

	/* Boxen som muffinsen placeras i */
	.muffin img {
		width: 17.5vw;
		position: absolute;
		bottom: -1.4vw;
		left: 0.5vw;
		z-index: 0;
	}

	/* Boxen som första lagret frosting placeras i */
	.frosting img {
		z-index: 1;
		position: absolute;
		top: 5vw;
		left: 0.7vw;
		width: 17.5vw;
	}

	/* Boxen som andra lagret frosting placeras i */
	.topfrost  img{
		position: absolute;
		z-index: 2;
		top:3.5vw;
		left: 3.4vw;
		width: 60%;
	}

	/* Boxen som dekorationen placeras i */
	.deco img {
		z-index: 4;
		position: absolute;
		top: 1vw;
		left: 2.4vw;
		width: 17.5vw;
	}

	/* Boxen som strösslet placeras i */
	.strossel img {
		z-index: 3;
		position: absolute;
		top: 5vw;
		left: 0.9vw;
		width: 17.5vw;
	}

	/* Massa saker som är gömda från början */
	#ingenfrost, #ingentopfrost, #ingenstrossel, #ingendeco, #ingenwrap, #muffinval, #frostingval, #strosselval, #topfrostval, #decoval, #topfrostklick, #strosselklick, #decoklick, #muffinklick, #frostingklick {
		display: none;
	}